/*
 * jQuery Nivo Slider v3.2
 * http://nivo.dev7studios.com
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
 
/* The Nivo Slider styles */
.nivoSlider {
	position:relative;
	width:100%;
	height:auto;
	overflow: hidden;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	max-width: none;
}
.nivo-main-image {
	display: block !important;
	position: relative !important; 
	width: 100% !important;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:1;
	display:none;
	background:white; 
	filter:alpha(opacity=0); 
	opacity:0;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	/*display:block;
	position:absolute;*/
	z-index:5;
	height:100%;
	top:0;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;
}
.nivo-box img { display:block; }

/* Caption styles */
.tintuc .nivo-caption {
    text-align: left;
    margin-top: 0px;
	position:absolute;
    top: 0px;
	height:40px;
	left:0px;
	bottom:0px;
	background:#842526;
	color:#fff;
	width:40%;
    height: 100%;
	z-index:8;
	padding: 10px 10px;
	opacity: 0.9 !important;
	overflow: hidden;
	display: none;
	-moz-opacity: 0.9 !important;
	filter:alpha(opacity=8);
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
.tintuc .nivo-caption p {
	padding:5px;
	margin:0;
}
.tintuc .nivo-caption a {
	display:inline !important;
}
.tintuc .nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.tintuc .nivo-directionNav
{
    width:100%;
    height: 30px;
    text-align:center;
}
.tintuc .nivo-directionNav a {
	position: static;
	/*top:45%;*/
	z-index:9;
	cursor:pointer;
    opacity: 1 !important;
    height: 30px;
}
.tintuc .nivo-prevNav {
    height: 30px !important;
    /*background-image: url('/Resources/ImagesPortal/HomePage/imgs/previous button.png' ) !important;*/
}
 .tintuc .nivo-nextNav {
	right:40%;

}

 .tintuc .navigationImg
 {
     position: static !important;
     display: block !important;
 }
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
	text-align:center;
	padding: 15px 0;
}
.nivo-controlNav a {
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}
.tintuc .nut
{
     position: absolute;
     bottom: 5%;
}

.tintuc .nut a
{
    cursor: pointer;
}

.tintuc .nut ul{
    padding-left: 40px !important;
}