/*
ul.rpRootGroup --> li.rpItem --> a.rpLink --> span.rpOut --> span.rpText

ul.rpRootGroup --> li.rpItem --> div.rpSlide --> ul.rpGroup ul.rpLevel1 --> a.rpLink --> span.rpOut --> span.rpText

*/
.RadPanelBar .rpRootGroup
{
	margin-top:5px;
}
.RadPanelBar_SubSkin .rpRootGroup
{
	/*border: 0px #959485 solid;*/
	border-left: 0px #1c79a9 solid;
	border-right: 0px #1c79a9 solid;
	border-top: 0px #1c79a9 solid;
	border-bottom: 0px #1c79a9 solid;
	
}
/*---------------------- Link ----------------------*/
.RadPanelBar_SubSkin .rpLink
{
	color:#fff;
	font: 13px Arial, Helvetica, sans-serif;
	line-height:15px !important;
	background-image:url('/Portlets/TabMenu/Background.png');
	background-position: 0 -0px;
    padding:0px 0px 7px 0px;
	border-bottom:0px #FFF solid !important ;
	text-decoration:none;
}
.RadPanelBar_SubSkin .rpLink:hover
{
	background-position:0 -0px;
    color: yellow;
}
.RadPanelBar_SubSkin .rpLast .rpLink
{
    border-bottom:0px #FFF solid !important ;
}
/*-------------------- end Link --------------------*/
/*---------------------- Link cap 1 ----------------------*/
.RadPanelBar_SubSkin .rpLevel1  .rpLink
{
	color:#fff;   
	background-position:0 -35px;
	font:13px Arial, Helvetica, sans-serif;
    padding-left: 20px;
	
}
.RadPanelBar_SubSkin .rpLevel1 .rpLink:hover
{
	color:yellow ;
	background-position:0 -35px;
}
/*-------------------- end Link cap 1 --------------------*/
/*---------------------- Link cap 2 ----------------------*/
.RadPanelBar_SubSkin .rpLevel2 .rpLink
{
	color:#333;
	background-position:0 -0px;
	font-weight:normal;
}
.RadPanelBar_SubSkin .rpLevel2 .rpLink:hover
{
	color:#FF6600;
	background-position:0 -0px;
}
/*-------------------- end Link cap 2 --------------------*/
/*---------------------- Expandable ----------------------*/
/*.RadPanelBar_SubSkin .rpExpandable .rpText,
.RadPanelBar_SubSkin .rpExpanded .rpText
{
	background-image:url('Images/Expandable.png');
	background-repeat:no-repeat;
	padding-right:20px;
}
.RadPanelBar_SubSkin .rpExpandable .rpText
{
	background-position:100% 0;
}
.RadPanelBar_SubSkin .rpExpanded .rpText
{
	background-position:100% -25px;
}*/
/*-------------------- end Expandable --------------------*/
.RadPanelBar .rpExpandable .rpExpandHandle, .RadPanelBar .rpExpanded .rpExpandHandle
{
    display: block;
    float: right;
    height: 15px;
    width: 15px;
    margin: 0px; 
}
.RadPanelBar_SubSkin .rpExpanded .rpText
{
	margin:-0px !important;
    color: #ff6600;
}
.RadPanelBar_SubSkin .rpLink
{
	border-bottom:0px;
}
.RadPanelBar_SubSkin .rpOut
{
	border-bottom-width:0px !important;
}
.RadPanelBar .rpLink:hover .rpOut,
.RadPanelBar .rpSelected .rpOut
{
    padding: 0px;
    margin: 0px
}
.RadPanelBar .rpLevel1 .rpFirst
{
	padding-top:0px;
}
.RadPanelBar .rpLevel1 .rpLast
{
	padding-bottom:0px;
}
.RadPanelBar_SubSkin .rpItem 
{
	padding-bottom: 0px !important;
	padding-top: 0px !important;
	margin-bottom:0px !important;
}
.RadPanelBar .rpGroup .rpOut
{
	margin-right:0px !important;
}
.RadPanelBar .rpFocused .rpOut,
.RadPanelBar a.rpLink:hover .rpOut,
.RadPanelBar .rpSelected .rpOut,
.RadPanelBar a.rpSelected:hover .rpOut
{
	border-bottom-width: 0;
	padding-bottom: 0px;
}






