.RadTabStrip_Skins {
    border-bottom: 2px solid #c22d17;
    width: 620px;
}

    .RadTabStrip_Skins .rtsLI {
        text-transform: uppercase;
    }
        /*left*/
        .RadTabStrip_Skins .rtsLI .rtsLink {
            background: -webkit-radial-gradient(top left, circle farthest-corner, #f4fbff 0%, #e2eaef 100%);
            background: -o-radial-gradient(top left, circle farthest-corner, #f4fbff 0%, #e2eaef 100%);
            background: -ms-radial-gradient(top left, circle farthest-corner, #f4fbff 0%, #e2eaef 100%);
            background: -moz-radial-gradient(top left, circle farthest-corner, #f4fbff 0%, #e2eaef 100%);
            font: 12px Arial, Helvetica, sans-serif;
            height: 37px;

            color: #4b4c4d;
            font-weight:bold;
            text-decoration: none;
            padding-left: 0px;
            margin-top: 7px;
        }
            /* right */
            .RadTabStrip_Skins .rtsLI .rtsLink .rtsOut {
                background: -webkit-radial-gradient(top left, circle farthest-corner, #f4fbff 0%, #e2eaef 100%);
                background: -o-radial-gradient(top left, circle farthest-corner, #f4fbff 0%, #e2eaef 100%);
                background: -ms-radial-gradient(top left, circle farthest-corner, #f4fbff 0%, #e2eaef 100%);
                background: -moz-radial-gradient(top left, circle farthest-corner, #f4fbff 0%, #e2eaef 100%);
                padding-right: 3px;
                line-height: 0px;
            }
            /*middle*/
            .RadTabStrip_Skins .rtsLI .rtsLink .rtsIn {
                line-height: 35px;
                text-align: center;
                padding-left: 35px;
                padding-right: 35px;
            }
            /*cai duoc chon*/
            .RadTabStrip_Skins .rtsLI .rtsLink.rtsSelected {
                background: -webkit-radial-gradient(top left, circle farthest-corner, #ec6957 0%, #c22d17 100%);
                background: -o-radial-gradient(top left, circle farthest-corner, #ec6957 0%, #c22d17 100%);
                background: -ms-radial-gradient(top left, circle farthest-corner, #ec6957 0%, #c22d17 100%);
                background: -moz-radial-gradient(top left, circle farthest-corner, #ec6957 0%, #c22d17 100%);
                font: 12px Arial, Helvetica, sans-serif;
                font-weight: bold;
                height: 43px;
                line-height: 33px;
                padding-left: 0px;
                margin-top: 1px;
            }

                .RadTabStrip_Skins .rtsLI .rtsLink.rtsSelected .rtsIn {
                    background: -webkit-radial-gradient(top left, circle farthest-corner, #ec6957 0%, #c22d17 100%);
                    background: -o-radial-gradient(top left, circle farthest-corner, #ec6957 0%, #c22d17 100%);
                    background: -ms-radial-gradient(top left, circle farthest-corner, #ec6957 0%, #c22d17 100%);
                    background: -moz-radial-gradient(top left, circle farthest-corner, #ec6957 0%, #c22d17 100%);
                }

                .RadTabStrip_Skins .rtsLI .rtsLink.rtsSelected .rtsOut {
                    background: -webkit-radial-gradient(top left, circle farthest-corner, #ec6957 0%, #c22d17 100%);
                    background: -o-radial-gradient(top left, circle farthest-corner, #ec6957 0%, #c22d17 100%);
                    background: -ms-radial-gradient(top left, circle farthest-corner, #ec6957 0%, #c22d17 100%);
                    background: -moz-radial-gradient(top left, circle farthest-corner, #ec6957 0%, #c22d17 100%);
                    padding-top: 5px;
                    line-height: 29px;
                    color: White;
                }
