
/* Roor - background*/
.RadMenu_Organge .rmRootGroup {
    background: #c75000;
    height: 40px;
    padding-left: 0px;
    clear: both;
}

.RadMenu_Organge a.rmLink,
.RadMenu_Organge .rmText {
    background-image: url('Menu/rmSprite_SV.png');
    background-color: Transparent;
}
/* Text*/
.RadMenu_Organge .rmText {
    float: left;
    font: 12px Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    line-height: 38px;
    background-position: 100% -46px;
    vertical-align: top;
    margin: 1px 0px 0px 0px;
    padding-left: 0px !important;
    padding-right: 10px !important;
}


.RadMenu_Organge .rmLast .rmText {
    background-image: none;
}

.RadMenu_Organge .rmLink {
    text-decoration: none;
}

/*---------------------------------------------------------------------*/

.RadMenu_Organge a.rmLink:hover {
    background-position: 100% -293px;
}


.RadMenu_Organge a.rmExpanded,
.RadMenu_Organge a.rmExpanded:hover {
    background-position: 100% -293px;
}


.RadMenu_Organge .rmLast a.rmExpanded .rmText,
.RadMenu_Organge .rmLast a.rmExpanded:hover .rmText {
    background-position: 100% -46px;
    background-image: url('Menu/rmSprite_SV.png');
}

.RadMenu_Organge a.rmExpanded .rmExpandRight {
    color: #fff;
    background-image: url('Menu/rmSprite_SV.png');
    background-position: 0px -235px !important;
    background-repeat: repeat-x;
}
/*---------------------------------------------------------------------*/
/* Cấp 2 - Text*/
.RadMenu_Organge .rmLevel1 .rmText {
    text-align: left;
    font-family: Arial;
    font-weight: normal;
    text-transform: none;
    font-size: 12px;
    height: 34px;
    line-height:35px;
    COLOR: #fff;
    TEXT-DECORATION: none;
    padding-right: 33px !important;
    padding-left: 27px !important;
    margin-left: 0px !important;
    border-right: 1px solid #c75000;
    border-left: 1px solid #c75000;
    border-bottom: 1px solid #c75000;
    background-image: url('Menu/rmSprite_SV.png');
    background-position: 0px -200px !important;
}
/* Cấp 2 - Link*/
.RadMenu_Organge .rmLevel1 .rmLink {
    text-decoration: none;
}

    .RadMenu_Organge .rmLevel1 .rmLink :hover {
        color: #fff;
        background-image: url('Menu/rmSprite_SV.png');
        background-position: 0px -235px !important;
        background-repeat: repeat-x;
    }
/*-------------------------------*/
