@charset "utf-8";
/* CSS Document */

body{
	padding:0;
	margin:0;
	background:#EAE9E9;
	font-family: Arial, Helvetica, sans-serif;
	}
.wrapper{
	width:1000px;
	height:auto;
	margin:0 auto;
	padding:0;
	background:url(imgs/hongbangtansinhvien/images/bg-top_01.png) top repeat-x, url(imgs/hongbangtansinhvien/images/bg-ft_04.png) bottom repeat-x;
	}
/*-----css top-----*/

.right-head ul, .menu ul{
	list-style:none;	
	padding: 0;
	}
.right-head ul li{
	float:left;	
	}
.right-head ul li a{
	text-decoration: none;
	color: #D0BCC2;
font-size: 13px;
font-weight: 400;
padding:0 8px;
	}
.right-head ul li a:hover{
	color: #3399CC
	}
.menu{
	background:#FFF;
	height:62px;
	}
.menu ul li{
	float:left;
	}
.menu ul li a{	
font-size: 16px;
font-weight: 700;
line-height: 24px;
text-decoration: none;
padding-right:30px;
color:#696666;
	}
.menu ul li a:hover, .chu a:hover{color:#3387E6}
.menu ul .timkiem{
	float:left;
	}
.menu ul{ padding-left:18px;     padding-top: 17px;}
.menu ul .timkiem a{


font-size: 16px;
font-weight: 700;
line-height: 24px;
text-decoration: none;
padding-right:0px;
	}
/*---menu con--*/
.menucon{
	width:1000px;
	
	position:absolute;
	margin-left: -123px;
	padding-top:20px;
		
	border-bottom:5px solid #62a1ea;
	display:none;
	
	}
.menucon .selected .active{ z-index:12}
.menucon ul > li.selected { color:#0FC}
.menucon1{
	width:1000px;
	
	position:absolute;
	margin-left: -765px;
	padding-top:20px;
		
	border-bottom:5px solid #62a1ea;
	display:none;
	
	}
.menucon2{
	width:1000px;
	
	position:absolute;
	margin-left: -18px;
	padding-top:20px;
		
	border-bottom:5px solid #62a1ea;
	display:none;
	
	}
.menucon2 ul{
	-moz-column-count: 3;
    -moz-column-gap: 20px;
    -webkit-column-count: 3;
    -webkit-column-gap: 20px;
    column-count: 4;
    column-gap: 20px;
	padding-bottom: 50px;
	}
.menucon2 ul li{
	border-bottom:1px dashed #999999;
	    width: 290px;
		padding: 5px 0;
		
	}
.menucon2 ul li a{ font-size:13px !important; font-weight:400}
.menucon1 ul .icon{
	    margin-right: 20px;
	height:110px;
	width:100px;
	color: #545353;
	background:url(imgs/tien_ich/icon_email_cbgv.png) no-repeat top;
	}
.menucon1 ul .icon:hover{
	color:#09F;
	background:url(imgs/Icon%20tien%20ich%20hover/icon%20email%20sv.png) no-repeat top;
	}
.menucon1 ul .icon1{    margin-right: 20px;
	height:100px;
	width:100px;
	color: #545353;
	background:url(imgs/tien_ich/icon_email_cbgv.png) no-repeat top;
	}
.menucon1 ul .icon1:hover{
	color:#09F;
	background:url(imgs/Icon%20tien%20ich%20hover/icon%20email%20sv.png) no-repeat top;
	}
.menucon1 ul .icon2{    margin-right: 20px;
	height:100px;
	width:100px;
	color: #545353;
	background:url(imgs/tien_ich/icon_van_bang.png) no-repeat top;
	}
.menucon1 ul .icon2:hover{
	color:#09F;
	background:url(imgs/Icon%20tien%20ich%20hover/icon%20van%20bang.png) no-repeat top;
	}
.menucon1 ul .icon3{    margin-right: 20px;
	height:100px;
	width:100px;
	color: #545353;
	background:url(imgs/tien_ich/icon_quy_che.png) no-repeat top;
	}
.menucon1 ul .icon3:hover{
	color:#09F;
	background:url(imgs/Icon%20tien%20ich%20hover/icon%20quy%20che.png) no-repeat top;
	}
.menucon1 ul .icon4{    margin-right: 20px;
	height:100px;
	width:100px;
	color: #545353;
	background:url(imgs/tien_ich/icon_tkb.png) no-repeat top;
	}
.menucon1 ul .icon4:hover{
	color:#09F;
	background:url(imgs/Icon%20tien%20ich%20hover/icon%20tkb.png) no-repeat top;
	}
.menucon1 ul .icon5{    margin-right: 20px;
	height:100px;
	width:100px;
	color: #545353;
	background:url(imgs/tien_ich/icon_thu_vien.png) no-repeat top;
	}
.menucon1 ul .icon5:hover{
	color:#09F;
	background:url(imgs/Icon%20tien%20ich%20hover/icon%20thu%20vien.png) no-repeat top;
	}
.menucon1 ul .icon6{
	height:100px;
	width:100px;
	color: #545353;
	background:url(imgs/tien_ich/icon_van_bang.png) no-repeat top;
	}
.menucon1 ul .icon6:hover{
	color:#09F;
	background:url(imgs/Icon%20tien%20ich%20hover/icon%20van%20bang.png) no-repeat top;
	}
h5{ padding-top:45px;
	text-align: center;
	
}
.menu ul li:hover .menucon, .menu ul li:hover .menucon1, .menu ul li:hover .menucon2, .menu ul li:hover .menucon{ display:block;}
.menucon ul li{ float:none}
.menucon ul li a{ text-decoration:none; font-weight:700}
.menu ul li .menucon ul li{
	
	font-size:12px;
	font-style:italic;
	
	width:200px;
	padding: 7px 0;
	padding-right: 19px;
	border-bottom:1px dashed #999999;
	}
.menu ul li .menucon ul li:hover{
	background:url(imgs/E.png) right no-repeat;
	}
.menu ul li .menucon ul .active:visited{
	background:url(imgs/E.png) right no-repeat;
	}
.menu .menucon ul{
	border-right:5px solid #6CA7EA;
	width: 215px;
	padding-left: 13px;
	padding-bottom: 30px;
	}

/*.menucon ul .active{ float:none}
.menucon ul .active{ text-decoration:none;}
.menu ul li .menucon ul .active{
	font-size:12px;
	font-style:italic;
	width:200px;
	padding: 7px 0;
	padding-right: 19px;
	background:url(imgs/E.png) right no-repeat;
	}
*/
/*----menucon-con---*/
/*.menucon ul li a:active .menucon-con{ display: block}
.menucon ul li.active .menucon-con{ display:block; z-index:1;}
.menucon ul li.selected .menucon-con{ display: block; }
.menucon .selected .menucon-con { z-index: 12; }
.menucon ul li:hover .mencon-con { display:block; z-index:3;}*/

.menucon .menucon-con ul { list-style-type: none}
.menucon .menucon-con ul li { display: inline}
.menucon .menucon-con ul li a { text-decoration: none; line-height: 27px; font-size: 12px; padding: 7px 8px 7px 9px; color: #002B55; }
.menucon .menucon-con ul li a:hover { color: #0073AE; }
.menucon .menucon-con ul li a.selected { color: #0073AE; }
.menucon .selected .menucon-con { z-index: 12; }
.menucon ul > li.selected div.menucon-con { display: block; }
.menucon ul > li > a { display: block; color: #002B55;  font-size: 12px; font-weight: 700; text-decoration: none;  line-height: 25px; padding: 0px 25px; margin: 0px; }
.menucon a:hover, .menucon .elements li a.selected { color: #0073AE; }
.menucon ul > li:hover .menucon-con { display:block}
.menucon ul > li > a:active .menucon-con { display:block; }
.menucon ul > li.active .menucon-con { display:block;}

/*---*/

.menucon .menucon-con1 ul {z-index: 5; list-style-type: none}
.menucon .menucon-con1 ul li { display: inline}
.menucon .menucon-con1 ul li a { text-decoration: none; line-height: 27px; font-size: 12px; padding: 7px 8px 7px 9px; color: #002B55; }
.menucon .menucon-con1 ul li a:hover { color: #0073AE; }
.menucon .menucon-con1 ul li a.selected { color: #0073AE; }
.menucon .selected .menucon-con1 { z-index: 15; }
.menucon ul > li.selected div.menucon-con1 { display: block; }
.menucon ul > li > a { display: block; color: #002B55; font-size: 12px; font-weight: 700; text-decoration: none; height: 25px; line-height: 25px; padding: 0px 25px; margin: 0px; }
.menucon a:hover, .menucon li a.selected { color: #0073AE; }
.menucon ul > li:hover .menucon-con1 { display:block; z-index:15;}
/*---*/

.menucon .menucon-con2 ul {z-index: 5; list-style-type: none}
.menucon .menucon-con2 ul li { display: inline}
.menucon .menucon-con2 ul li a { text-decoration: none; line-height: 27px; font-size: 12px; padding: 7px 8px 7px 9px; color: #002B55; }
.menucon .menucon-con2 ul li a:hover { color: #0073AE; }
.menucon .menucon-con2 ul li a.selected { color: #0073AE; }
.menucon .selected .menucon-con1 { z-index: 15; }
.menucon ul > li.selected div.menucon-con2 { display: block; }
.menucon ul > li > a { display: block; color: #002B55; font-size: 12px; font-weight: 700; text-decoration: none; height: 25px; line-height: 25px; padding: 0px 25px; margin: 0px; }
.menucon a:hover, .menucon li a.selected { color: #0073AE; }
.menucon ul > li:hover .menucon-con2 { display:block; z-index:15;}

/*---*/

.menucon .menucon-con3 ul {z-index: 5; list-style-type: none}
.menucon .menucon-con3 ul li { display: inline}
.menucon .menucon-con3 ul li a { text-decoration: none; line-height: 27px; font-size: 12px; padding: 7px 8px 7px 9px; color: #002B55; }
.menucon .menucon-con3 ul li a:hover { color: #0073AE; }
.menucon .menucon-con3 ul li a.selected { color: #0073AE; }
.menucon .selected .menucon-con3 { z-index: 15; }
.menucon ul > li.selected div.menucon-con3 { display: block; }
.menucon ul > li > a { display: block; color: #002B55; font-size: 12px; font-weight: 700; text-decoration: none; height: 25px; line-height: 25px; padding: 0px 25px; margin: 0px; }
.menucon a:hover, .menucon li a.selected { color: #0073AE; }
.menucon ul > li:hover .menucon-con3 { display:block; z-index:15;}


/*
.menucon a:hover, .menucon  li a.selected { color: #0073AE; }
.menucon > ul > li:hover .menucon-con { display:block; z-index:2;}
.menucon > ul > li > a:active .menucon-con { display:block; }
.menucon > ul > li.active .menucon-con { display:block; z-index:1;}
.menucon .menucon-con { position: fixed; z-index: 13; display: none; }
.menucon .menucon-con.over { display: block; }
.menucon .menucon-con ul { z-index: 5; }
.menucon .menucon-con ul li { display: inline; }

.menucon .menucon-con ul li a:hover { color: #0073AE; }
.menucon .menucon-con ul li a.selected { color: #0073AE; }
.menucon .selected .menucon-con { z-index: 12; }
.menucon ul > li.selected div.menucon-con { display: block; }*/


.menucon-con{
	margin-left:220px;
	position:absolute;
	margin-top:-40px;
	display:none;
	}
.menucon-con ul{
	border-right:none !important;
	}
.menucon-con ul li a{
	border-bottom:none !important;
	
	color:#6F6E6E !important;
	font-weight:700 !important;
	}
.menucon-con ul li a:hover{
	color:#3387E6 !important;
	}
.menucon-con ul li{
	border-bottom:none !important;
	padding:4px 0 !important;
	}
.menucon-con ul li:hover{
	background:none !important;
	}
/*---*/
.menucon-con, .menucon-con1, .menucon-con2, .menucon-con3, .menucon, .menucon1, .menucon2{
	background:#FFF;
	}
.menucon-con1{
	margin-left:220px;
	position:absolute;
	margin-top:-80px;
	display:none;
	
}
.menucon ul li:hover .menucon-con, .menucon ul li:hover .menucon-con1, .menucon ul li:hover .menucon-con2, .menucon ul li:hover .menucon-con3{ display:block}

/*---*/
.menucon-con2{
	margin-left:220px;
	position:absolute;
	margin-top:-118px;
	display:none;
	}
.menucon-con2 ul{
	border-right:none !important;
	}
.menucon-con2 ul li a{
	border-bottom:none !important;
	
	color:#6F6E6E !important;
	font-weight:700 !important;
	}
.menucon-con2 ul li a:hover{
	color:#3387E6 !important;
	}
.menucon-con2 ul li{
	border-bottom:none !important;
	padding:4px 0 !important;
	}
.menucon-con2 ul li:hover{
	background:none !important;
	}
/*------*/
.menucon-con1 ul{
	border-right:none !important;
	}
.menucon-con1 ul li a{
	border-bottom:none !important;
	
	color:#6F6E6E !important;
	font-weight:700 !important;
	}
.menucon-con1 ul li a:hover{
	color:#3387E6 !important;
	}
.menucon-con1 ul li{
	border-bottom:none !important;
	padding:4px 0 !important;
	}
.menucon-con1 ul li:hover{
	background:none !important;
	}
/*-----------*/
.menucon-con3{
	margin-left:220px;
	position:absolute;
	margin-top:-157px;
	display:none;
	}
.menucon-con3 ul{
	border-right:none !important;
	}
.menucon-con3 ul li a{
	border-bottom:none !important;
	
	color:#6F6E6E !important;
	font-weight:700 !important;
	}
.menucon-con3 ul li a:hover{
	color:#3387E6 !important;
	}
.menucon-con3 ul li{
	border-bottom:none !important;
	padding:4px 0 !important;
	}
.menucon-con3 ul li:hover{
	background:none !important;
	}
/*---menucon-phai--*/

.menucon-phai{
	
    width: 470px;
    float: right;
    margin-top: -219px;
	}
.menucon-phai ul{
	border-right:none !important;
	}
.menucon-phai ul li:hover{ background:none !important}
.menucon-phai ul li a{
	 border-bottom: none !important;
	 font-weight:400 !important;
	 }
.menucon-phai ul li{  border-bottom:1px dotted #93979C; width:170px !important}
/*-------slider----*/

.slider-1{
	float:left;
	margin-left: 7px;
	}
.slider-1 ul{
list-style: none;
    margin-left: 6px;
    float: left;
    padding: 0;
	}
.slider-1 ul li{
	float:left;
	padding: 3px;
	}
/*----xanh-------*/
.xanh-one{
	background:url(imgs/bg_doi_tuong1.jpg);
	    margin-top: -20px;
	height:322px;
	}
.xanh-one ul{
	list-style:none;    padding-top: 48px;
	}
.xanh-one ul li{
	float: left;
	text-align: center;
	padding: 31px;
	}
.xanh-one ul li a{
	text-decoration: none;
	text-transform: uppercase;
	color:#FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:700;
}
.xanh-one ul li a:hover{
	 text-shadow: 2px 2px 4px #000000;
	}
.title{
	color: #2769b9;
font-size: 47px;
font-weight: 400;
text-transform: uppercase;
text-align: center;
    padding-top: 45px;
	}
.tintuc ul{
	list-style:none;
	padding:0;
	margin-top: -4px;
	}
.tintuc{
	background:#FFF;
	}
.chu{
	float:right;
	height:50px;
	text-align:center;
	width:800px;
	margin-top: -9px;
	padding-right: 20px;
		}
.time{ float:left; font-style:italic;padding-left: 20px; }
.tintuc ul li{
	padding:42px 0;
	border-bottom: 1px dashed #8C8B8B;
	    margin-left: 20px;
    margin-right: 20px;
	}
.chu a{
text-align: center;
    text-decoration: none;
    color: #676363;
    font-size: 17px;
    font-weight: 600;
    line-height: 25px;
	}
.info{
	background:#FFF;
	height:143px;
	}
.tintuc ul li:last-child{ border-bottom:none;}
/*---footer----*/
.footer{
	height:43px;
	}
.footer ul{
	list-style:none;
	padding:0;
	margin-top:30px;
	padding-left: 20px;
		}
.footer ul li{ float:left; padding-right:64px}
.footer ul li a:hover{ opacity:0.5}
/*--------TIN Tá»¨C---------*/
.home{
	margin-left: -24px;
	padding-bottom:30px;
	}
.home ul{
	list-style:none;
	}
.home ul li{
	float:left;
	padding: 0 5px;
	}
.home ul li a{
	text-decoration:none;
	color:#6F6F6F;
	}
.home ul li a:hover{ color:#155EB5}
.tuade{
	color: #155eb5;
    font-size: 29px;
    font-weight: 500;
    padding-left: 20px;
	padding-top: 30px;
	padding-bottom: 6px;
	}
.wrap-tintuc{
	background:#FFF;
	padding-top: 1px;
	}
.content-tintuc{
	width:800px;
	margin:0 auto;
	}
.tomtat{
	 font-size: 16px;
    font-weight: 600;
    padding-left: 20px;
    color: #616060;
    padding-right: 20px;
    line-height: 24px;
	padding-top: 30px;
	}
.thaoluan{
	width:700px;
	margin:0 auto;
	padding-bottom:50px
	
	}
.reply:hover{
	color:#999;
	 border: 1px solid #999;
	}
.reply{
	color: #1762BB;
    border: 1px solid #1762BB;
    width: 62px;
    padding: 5px;
    border-radius: 16px;
	margin-left: 607px;
	}
.reply1:hover{
	color:#999;
	 border: 1px solid #999;
	}
.reply1{
	color: #1762BB;
    border: 1px solid #1762BB;
    width: 62px;
    padding: 5px;
    border-radius: 16px;
	    margin-left: 622px;
	}
.bao{
	  
    width: 622px;
	    margin-left: 77px;
    margin-top: -75px;
	}
.bao1{
	  
    width: 550px;
	    margin-left: 77px;
    margin-top: -75px;
	}
.one{
	border-bottom: 1px dashed #A5A1A1;
    padding-bottom: 20px;
	padding-top:20px;
	}
.one-con{
	border-top: 1px dashed #A5A1A1;
    padding-bottom: 10px;
    padding-top: 20px;
    margin-left: 75px;
    margin-top: 20px;
	}
span a:hover{ opacity:0.7}
/*--------------hongbangtansinhvien----------------------------*/
.tsv-top{ height:169px;}
.tsv-logo{
	float:left;
	}
.tsv-top-right{
	float:left;
	}
.tentruong{
	margin-top:40px;
	border-bottom:1px solid #7D1111;
	    padding-bottom: 30px;
    padding-right: 20px;
	}
.tsv-menu ul{
	list-style:none;
	padding:0px;
	    margin-top: -5px;
	}
.tsv-menu ul li{
	float:left;
	padding-right: 47px;

	}
.tsv-menu ul li a{
	color: #d38ba0;
font-family: "Open Sans";
font-size: 16px;
font-weight: 600;
line-height: 24px;
text-decoration:none;
	}
.tsv-menu ul li a:hover{ opacity:0.8}
.tsv-menu{
	
    padding-top: 17px;
	border-top:1px solid  #AB5E75;
	}
.tsv-title{
	color: #90082f;
font-family: "Open Sans";
font-size: 40px;
font-weight: 400;
text-transform: uppercase;
text-align:center;
    padding-top: 50px;
	}
.tsv-hinh{ width:235px; text-align:center;    padding-bottom: 20px;}
.tsv-icon{ float:left; text-align:center; width:235px;padding-top: 30px;
    padding-left: 7px;
}
.tsv-icon a{
	color: #454545;
font-family: "Open Sans";
font-size: 20px;
font-weight: 400;
text-decoration:none;
	}
.banlatsv{ height:420px}
.tsv-icon:hover img{
	margin-top:-5px;
 -webkit-transition: margin-top 0.5s; /* Safari */
    transition: margin-top 0.5s;
	color:#900;
	}
.tsv-icon:hover a{

	color:#900;
	}