@charset "utf-8";
/* CSS Document */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,300italic,400italic,600italic,700,700italic,800,800italic&subset=latin,latin-ext);
body{
	
    padding: 0;
    margin: 0;
    background: #F4F4F4;
	}
.wrapper-phong{
	width:1000px;
	margin:0 auto;
    background-color:#fff;
	}

/*Top*/
.top_PB {
    float: left;
    height: 36px;
    width: 210px;
    background: #93163a;
}

.ct_top_PB {
    float: right;
}

    .ct_top_PB a {
        float: left;
        font: 12px Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        line-height: 31px;
        color: #7ec8f9;
    }

        .ct_top_PB a:hover {
            color: #fb6c33;
        }

    .ct_top_PB img {
        float: left;
        margin-right: 7px;
        margin-left: 7px;
    }

.bgsearch_PB {
    margin-top: 6px;
    float: left;
    background: #93163a;
    width: 162px;
    height: 24px;
    border: 0px;
    margin-right: 3px;
    font: 14px Arial, Helvetica, sans-serif;
    color: #fff;
}

.search_PB {
    margin-top: 4px;
    float: right;
    background: url(/Resources/ImagesPortal/PhongBan/imgs/phong/icon_search_PB.jpg) no-repeat;
    width: 26px;
    height: 24px;
    border: 0px;
    margin-right: 3px;
}


.head-phong{
	width:1000px;
	height:120px;
	background:url(../imgs/phong/header%20banner.png);
	}
.head-phong img{ padding:15px}
.menu-phong{
	width:1000px;
	height:40px;
	background:#5f1213;
	}
.menu-phong ul{
	padding-left: 25px;
	list-style:none;
	margin:0;
	}
.menu-phong ul li{ float:left}
.menu-phong ul li a{
	color: white;
	font-family: "Open Sans";
	font-size: 15px;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration:none;
    line-height: 39px;
	padding-right: 60px;
	}
.phong-left{
	width:222px;
	}
.phong-left ul{
	padding:0;
	list-style:none;
	
		}
.phong-left ul li{
	width:200px;
	text-align:right;
	height:60px;
		}
.phong-left ul li a{
	color: #454545;
	font-family: "Open Sans";
	font-size: 20px;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration:none;
	line-height:60px;
	}
.phong-left ul li:hover{
	background:url(../imgs/phong/arrow.png) left no-repeat;
	border-bottom:2px #f6d6d7 solid;
	}
.phong-left ul li:hover a{		color:#5f1213;}
.phong-left{ float:left}
.phong-right{
	float:right;
	border-left: 3px #E7E7E7 solid;
	margin-top: 30px;
	margin-bottom: 30px;
	}
.banner-phong-right{ margin-left:20px}
.home-phong{
	margin-top: -28px;
	padding-bottom:30px;
	}
.home-phong ul{
	list-style:none;
	    padding: 0px;
    margin-left: 13px;
	}
.home-phong ul li{
	float:left;
	padding: 0 5px;
	}
.home-phong ul li a{
	text-decoration:none;
	color: #454545;
	font-family: "Open Sans";
	font-size: 18px;
	font-weight: 400;
	line-height: 47px;
	}
.home-phong ul li a:hover{ color:#5f1213}
.tintuc-phong .container{width:95%;padding-left:22px; padding-bottom:50px;}
.tintuc-phong{background:#fff;	min-height:330px;float:left;width:100%;padding:20px 0px 0px 0px;}
.tintuc-phong h1 {text-align:left; height: 50px;}
.tintuc-phong h1 a{
	text-decoration:none;
	color: #454545;
	font-family: "Open Sans";
	font-size: 40px;
	font-weight: 300;
	text-transform: uppercase;
    margin-left: 20px;
}
.tintuc-phong h1 a:hover{color: #8b1f1f}
.tintuc-phong ul{list-style:none;}
.tintuc-phong ul li {width:745px;padding: 7px 0px;border-bottom: 1px dashed #b5b5b5;}
.tintuc-phong ul li a{
	color: #454545;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	background-image:url(../imgs/bullet.png);
    background-position: left 10px;
    background-repeat: no-repeat;
	display:block;
	padding: 0px 0px 0px 20px;
	text-decoration:none;
	font-family: "Open Sans";
}
.tintuc-phong ul li a:hover{color: #8b1f1f;text-decoration:none;}
.muiten1{
	float: left;
    margin-left: -35px;
    margin-top: 120px;
	}
.muiten2{
	float: right;
    margin-top: -160px;
    margin-right: -46px;
	}
.tintucmoi{
	float: left;
    margin-left: 44px;
	}
.muiten-tintuc{
	list-style:none;
	height: 50px;
	margin: 0 auto;
    width: 330px;
	} 
.muiten-tintuc li{
	float:left;
	padding-left: 29px;
	}
.muiten-tintuc li a{
	text-decoration:none;
	color:#999;
	font-size: 23px;
	}
.muiten-tintuc li a:hover{ color:#900;}
.chuso-tintuc{ clear:both}
.ngaythang-phong{
	   padding-left: 20px; font-size: 16px;
font-style: italic;
line-height: 22px; color: #919191;
font-family: "Open Sans";
	}
.footer-phong{
	margin-top: -29px;
	height: 80px;
    width: 1000px;
	background-color: #7a1214;
    clear: both;
	}
.footer-phong ul{
	list-style:none;
	padding:0;
	margin-top:30px;
	padding-left: 20px;
	padding-top: 28px;
		}
.footer-phong ul li{ float:left; padding-right:35px}
.footer-phong ul li a:hover{ opacity:0.5}


/*=====================================================================TopicDisplay ======================================*/
/*-----------------------css tintuc---------------------------------------*/
.home {
    padding-bottom: 0px;
    /*padding-left: 35px!important;*/
    margin: 0px;
}

    .home ul {
        list-style: none;
    }

        .home ul li {
            float: left;
            padding: 0 5px;
            line-height: 40px; /*14112015*/
        }

            .home ul li a {
                font-size: 18px;
                text-decoration: none;
                color: #454545;
                line-height: 47px; /*14112015*/
            }

                .home ul li a:hover {
                    color: #7a1214;
                }

/*=====================*/

@media (min-width: 1280px) {
    .container {
        padding: 0px !important;
        width: 100%;
    }
}
/*14112015
    chinh trang danh sach topic
*/
#images_Topic{
    width:150px!important;
    /*display:none;*/
}
.list-thong-bao {
    clear: both;
    margin-left:0px;
}

    .list-thong-bao h1 a {
       font-size: 20px;
       padding:0px;
       text-transform:uppercase;
       font-weight: bold;
       color:#7a1214;     
    }
    
    .list-thong-bao ul li {
        width: 98%;
        list-style:none;
        padding: 15px 0px ;
     
    }

    /*.list-thong-bao a {
        display: block;
        line-height: 20px;
        padding: 0px 0px 0px 20px;
        color: #464646;
        font-weight:600;
        font-size: 14px;
        
    }.list-thong-bao a:hover{
         text-decoration:none;
     }
      .list-thong-bao span {
        display: block;
        line-height: 20px;
        padding: 6px 0px 0px 20px;
        color: #B0B0B0;
        font-size: 12px;
        font-style: italic;
        
    }*/


.banner-tintuc {
    margin-top: 45px;
    margin-left: -10px;
}
.TopicDisplay{
    display:none;
}
.muiten1 {
    float: left;
    margin-left: -26px;
    margin-top: 110px;
}

.muiten2 {
    float: right;
    margin-top: -155px;
    margin-right: -23px;
}
/* Set 2 nút Next và Pre của slider slick */
.slick-prev:before {
    content: none !important;
}

.tintucmoi {
    float: left;
    margin-left: 44px;
}

.muiten-tintuc {
    list-style: none;
    height: 50px;
    margin: 0 auto;
    width: 383px;
}

    .muiten-tintuc li {
        float: left;
        padding-left: 29px;
    }

        .muiten-tintuc li a {
            text-decoration: none;
            color: #999;
            font-size: 23px;
        }

            .muiten-tintuc li a:hover {
                color: #900;
            }

.chuso-tintuc {
    clear: both;
}
/*==========================================================End TopicDisplay =============================================*/




/* =============================================================== ArticleDisplay ===========================================*/
/*--------------------------------chitiettintuc--------------------------------*/
#Article_Display .home {
    margin: 35px 0px 0px 0px;
}

#Article_Display .tuade {
    padding: 0px;
}

.tuade {
    color: #7A1214;
    font-size: 29px;
    font-weight: 500;
    padding-top: 30px;
    padding-bottom: 6px;
}

.wrap-tintuc {
    background: #FFF;
    padding-top: 1px;
}


.tomtat {
    color: #454545;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    padding-bottom: 25px;
    padding-top: 50px;
}

.thaoluan {
    padding-bottom: 50px;
}

.reply:hover, .reply1:hover {
    color: #7A1214;
    border: 1px solid #7A1214;
    background: url(imgs/reply.png) left no-repeat;
}

.reply {
    color: #B6B6B6;
    border: 1px solid #B6B6B6;
    width: 70px;
    padding: 5px;
    border-radius: 16px;
    margin-left: 90%;
    background: url(imgs/icon%20reply.png) left no-repeat;
    padding-left: 17px;
}

.reply1 {
    color: #B6B6B6;
    border: 1px solid #B6B6B6;
    width: 70px;
    padding: 5px;
    border-radius: 16px;
    margin-left: 93%;
    background: url(imgs/icon%20reply.png) left no-repeat;
    padding-left: 17px;
}

.bao {
    margin-left: 10%;
}

.bao1 {
    margin-left: 77px;
}

.onetintuc {
    border-bottom: 1px dashed #A5A1A1;
    padding-bottom: 20px;
    padding-top: 20px;
}

.one-con {
    border-top: 1px dashed #A5A1A1;
    padding-bottom: 10px;
    padding-top: 20px;
    margin-left: 10%;
    margin-top: 20px;
}

span a:hover {
    opacity: 0.7;
}

#topic-share {
    margin-left: 31px;
    top: 0px;
    width: 85%;
    height: 94px;
    background-color: #f8f8f8;
    box-shadow: inset 5px 0 0 #90082f;
}

.icon-share {
    padding: 25px 0px 0px 20px;
    float: left;
    width: 25%;
    height: 70%;
}

.tieude a {
    color: #454545;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 400;
    line-height: 47px;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 0px;
}

.other_news ul {
    width: 90%;
    clear: both;
    margin-left: 20px;
    padding-left: 30px !important;
}

.other_news li {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #000;
    margin: 0px;
    list-style: url(imgs/bullet.png);
}

    .other_news li a {
        color: #454545;
        font-family: "Open Sans";
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-decoration: none;
    }

#tintuc-right {
    margin-top: 77px;
}

.input1 {
    min-height: 70px;
    width: 89%;
    padding-left: 20px;
    border-radius: 5px;
    border: 1px solid #CCC;
    margin-bottom: 12px;
}

.cmt {
    color: #454545;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.chitietbaiviet {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 0px;
    color: #454545;
    font-family: "Open Sans";
    padding-bottom: 35px;
}

    .chitietbaiviet img {
        width: 100%;
        max-width: 100%;
    }

.other_news li:last-child {
    border-bottom: none;
}
.other_news span{ line-height: 24px !important;}

@media (max-width: 980px) {
    @-moz-document url-prefix() {
        .input1 {
            width: 85% !important;
        }

        .reply {
            margin-left: 87%;
        }

        .bao {
            margin-left: 13%;
        }

        .reply1 {
            margin-left: 90%;
        }

        .img-thumbnail-cttt {
            max-width: 93%;
        }
    }
}

@media (max-width: 800px) {
    @-moz-document url-prefix() {
        .other_news li a {
            font-size: 14px;
        }

        .input1 {
            width: 83% !important;
        }

        .reply {
            margin-left: 85%;
        }

        .bao {
            margin-left: 15%;
        }

        .reply1 {
            margin-left: 86%;
        }

        .img-thumbnail-cttt {
            max-width: 92% !important;
        }
    }

    .other_news li a {
        font-size: 14px;
    }

    .input1 {
        width: 83% !important;
    }

    .reply {
        margin-left: 85%;
    }

    .bao {
        margin-left: 15%;
    }

    .reply1 {
        margin-left: 86%;
    }

    .img-thumbnail-cttt {
        max-width: 92% !important;
    }
}

@media (max-width: 768px) {
    @-moz-document url-prefix() {
        .other_news li a {
            font-size: 14px;
        }

        .input1 {
            width: 81% !important;
        }

        .reply {
            margin-left: 83%;
        }

        .bao {
            margin-left: 15%;
        }

        .reply1 {
            margin-left: 86%;
        }

        .img-thumbnail-cttt {
            max-width: 92% !important;
        }

        .icon-share {
            width: 28%;
        }

        .tuade {
            font-size: 27px;
        }
    }

    .other_news li a {
        font-size: 14px;
    }

    .input1 {
        width: 81% !important;
    }

    .reply {
        margin-left: 83%;
    }

    .bao {
        margin-left: 15%;
    }

    .reply1 {
        margin-left: 86%;
    }

    .img-thumbnail-cttt {
        max-width: 92% !important;
    }

    .icon-share {
        width: 28%;
    }

    .tuade {
        font-size: 27px;
        padding: 0px;
    }
}

@media (max-width: 375px) {
    .input1 {
        width: 74% !important;
    }

    .reply {
        margin-left: 78%;
    }

    .bao {
        margin-left: 22%;
    }

    .reply1 {
        margin-left: 78%;
    }

    #tintuc-right {
        margin-top: 23px;
    }

    #tintuc-right {
        margin-bottom: 50px;
    }
}

@media (max-width: 360px) {
    @-moz-document url-prefix() {
        .other_news li a {
            font-size: 14px;
        }

        .input1 {
            width: 72% !important;
        }

        .reply {
            margin-left: 76%;
        }

        .bao {
            margin-left: 24%;
        }

        .reply1 {
            margin-left: 76%;
        }

        .img-thumbnail-cttt {
            max-width: 92% !important;
        }

        .icon-share {
            width: 28%;
        }

        .tuade {
            font-size: 22px;
        }

        .cmt {
            font-size: 13px;
        }

        #tintuc-right {
            margin-bottom: 50px;
        }

        .tomtat {
            font-size: 14px;
        }
    }

    .other_news li a {
        font-size: 14px;
    }

    .input1 {
        width: 72% !important;
    }

    .reply {
        margin-left: 76%;
    }

    .bao {
        margin-left: 24%;
    }

    .reply1 {
        margin-left: 76%;
    }

    .img-thumbnail-cttt {
        max-width: 92% !important;
    }

    .icon-share {
        width: 28%;
    }

    .tuade {
        font-size: 22px;
    }

    .cmt {
        font-size: 13px;
    }

    #tintuc-right {
        margin-bottom: 50px;
    }

    .tomtat {
        font-size: 14px;
    }
}

@media (max-width: 320px) {
    @-moz-document url-prefix() {
        .other_news li a {
            font-size: 14px;
        }

        .input1 {
            width: 68% !important;
        }

        .reply {
            margin-left: 73%;
        }

        .bao {
            margin-left: 27%;
        }

        .reply1 {
            margin-left: 73%;
        }

        .img-thumbnail-cttt {
            max-width: 86% !important;
        }

        .icon-share {
            width: 28%;
        }

        .tuade {
            font-size: 22px;
        }

        .cmt {
            font-size: 13px;
        }

        .chitietbaiviet {
            font-size: 14px;
        }

        #tintuc-right {
            margin-bottom: 50px;
        }

        .tomtat {
            font-size: 14px;
        }
    }

    .other_news li a {
        font-size: 14px;
    }

    .input1 {
        width: 68% !important;
    }

    .reply {
        margin-left: 73%;
    }

    .bao {
        margin-left: 27%;
    }

    .reply1 {
        margin-left: 73%;
    }

    .img-thumbnail-cttt {
        max-width: 86% !important;
    }

    .icon-share {
        width: 28%;
    }

    .tuade {
        font-size: 22px;
    }

    .cmt {
        font-size: 13px;
    }

    .chitietbaiviet {
        font-size: 14px;
    }

    #tintuc-right {
        margin-bottom: 50px;
    }

    .tomtat {
        font-size: 14px;
    }
}
/*==================================================End ArticleDisplay================================================*/




/* Set Nivo slider Khoa ===================================================================================*/
.cd-top cd-is-visible{
    display:none;
}
.nivo-controlNav{
    display:none;
}
#nivo-slider-status{
    display:none!important;
}


.nivo-caption{

background: rgba(23, 22, 22, 0.7)!important;

    padding: 20px 40px!important;
    height: 100px!important;
    width: 360px!important;
    color: white!important;
    font-family: "Open Sans"!important;
    font-size: 20px!important;
    font-weight: 400!important;
    line-height: 30px!important;
    bottom:10px!important;
    opacity:1!important;
    position: absolute!important;
    margin-left: 20px!important;
}

